@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", sans-serif;
}
nav {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
}
.nav-center > h1 {
  font-size: 48px;
}
.nav-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
}

.nav-links > li > a {
  text-decoration: none;
  color: black;
  padding: 20px;
  font-size: 20px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -300px;
  width: 600px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
}

.container > h2 {
  position: absolute;
  top: 5%;
}

.container > button {
  padding: 20px 50px;
  background: none;
  border: 3px solid rgba(255, 255, 255, 0.329);
  border-radius: 8px;
  font-size: 20px;
  transition: all 0.5s ease-out;
}

.container > button:hover {
  background: white;
}

#circle1 {
  position: absolute;
  top: 60%;
  left: 52%;
  background-color: red;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: float1 160s ease-in-out infinite;
}

@keyframes float1 {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatex(-100px);
    /* transform: translateX(0px); */
  }
  25% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    /* transform: translateY(240px); */
    transform: translateX(200px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(-300px);
    /* transform: translateX(20px); */
  }
  75% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    /* transform: translateY(100px); */
    transform: translateX(-80px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(-100px);
    /* transform: translateX(0px); */
  }
}

#circle2 {
  position: absolute;
  top: 30%;
  left: 22%;
  background-color: blue;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  animation: float2 160s ease-in-out infinite;
}

@keyframes float2 {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translateY(100px);
  }
  25% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(250px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(400px);
    transform: translateX(-520px);
  }
  75% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(-200px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(100px);
  }
}
